html, body {
	background: url(images/pattern.svg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	height: 100%;
	width: 100%;
	flex-direction: column;
}

h1{
	font-size: 50px;
}

#main-text {
	font-family: "Andale Mono", "Courier New", "Lucida Console", monospace;
	color: #ffffff;
	display: flex;
	justify-content: center;
	margin-top: 200px;
}

#form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.text-box{
	width: 180px;
	height: 25px;
	padding: 10px 10px;
	border: none;
	border-radius: 3px;
}

.submit-button{
	width: 100px;
	padding: 8px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	text-decoration: none;
}

.navbar{
	height: 80px;
	width: 100%;
	background-color:	#FF6347;
	display: flex;
	align-items: center;
}

#app{
	height: 100%;
	width: 100%;
}

.main-page{
	display: flex;
	justify-content: center;
	flex-direction: column;
	vertical-align: middle;
}

.navbar h1{
	text-align: left;
	font-family: "Helvetica";
	color: white;
	font-size: 40px;
}

		